<%
  @read_cmd = 'crontab -l'
  @write_cmd = 'crontab -'
%>

# PATH=/usr/local/bin:/usr/local/sbin:/usr/local/mysql/bin:/usr/bin:/bin:/sbin:/usr/sbin
# MAILTO=foo@bar.com
# don't need to set RAILS_ENV for each script since we set it for all cron here
# RAILS_ENV=<%= RAILS_ENV %>

# Roll the logs at midnight
# 0 0 * * * cd <%= RAILS_ROOT %> && rake roll_logs

