<%
  @read_cmd = 'crontab -l'
  @write_cmd = 'crontab -'
  @additive = ['# start-graphite_web-crontab', '# end-graphite_web-crontab']
%>

# Backup graphite web UI db every day
0 1 * * * BACKUP_DIR=/mnt/graphite_backups BACKUP_NAME=graphite BACKUP_CMD="nice zip \%dir\%/graphite_<%= rubber_env.host %>_\%time_stamp\%.zip /opt/graphite/storage/*.db" <%= RUBBER_ROOT %>/script/cron-rake rubber:backup
