<%
  @read_cmd = 'crontab -l'
  @write_cmd = 'crontab -'
  @additive = ["# rubber-jenkins-start", "# rubber-jenkins-end"]
%>

# Nightly backup of Jenkins home at 2am
0 2 * * * <%= Rubber.root %>/script/rubber cron --task util:backup --directory=/mnt/jenkins_backups --name=jenkins --command="nice zip -r #{dir}/jenkins_<%= rubber_env.host %>_#{time_stamp}.zip <%= rubber_env.jenkins_build_home %> -x */jobs/*/workspace/* */.bundler/* */.gem/* */.java/* */.dbus/* */.mozilla/* */.npm/* */.cache/* */tmp/* */.git/* */node_modules/* */bower_components/*"
