<%
  @read_cmd = 'crontab -l'
  @write_cmd = 'crontab -'

  create_env = Proc.new do
    ENV.select {|k, v| k =~ /rvm|ruby|bundler|gem|path/i }.collect do |k, v|
      "#{k}='#{v}'"
    end
  end

  if Rubber::Util::is_bundler?
    env_lines = Bundler.with_clean_env &create_env
  else
    env_lines = create_env.call
  end
%>

# cron clears out environment variables, so we need to add these in
# to make sure we are running the correct ruby (rvm env vars, plus paths)
<%- env_lines.each do |line| -%>
<%= line %>
<%- end -%>

MAILTO=<%= rubber_env.admin_email %>
# don't need to set RUBBER_ENV for each script since we set it for all cron here
RUBBER_ENV=<%= Rubber.env %>
RAILS_ENV=<%= Rubber.env %>

# Roll all rails logs at midnight
0 0 * * * <%= Rubber.root %>/script/rubber cron:task -- util:rotate_logs --directory=<%= Rubber.root %>/log

# Automatically set the clock for all machines
<%= rand(60) %> 4 * * * <%= Rubber.root %>/script/rubber cron:sh -- ntpdate pool.ntp.org
