<%
  @read_cmd = 'crontab -l'
  @write_cmd = 'crontab -'

%>

# cron clears out environment variables. All we need is PATH.
PATH=<%= ENV['PATH'] %>

MAILTO=<%= rubber_env.admin_email %>
# don't need to set RUBBER_ENV for each script since we set it for all cron here
RUBBER_ENV=<%= Rubber.env %>
RAILS_ENV=<%= Rubber.env %>

# Roll all rails logs at midnight
0 0 * * * <%= Rubber.root %>/script/rubber cron --task util:rotate_logs --directory=<%= Rubber.root %>/log
