<%
  @path = "/root/.profile"
  @additive = ["# rubber-common-start", "# rubber-common-end"]
%>

# convenience to simply running rails console, etc with correct env
export RUBBER_ENV=<%= RUBBER_ENV %>
export RAILS_ENV=<%= RUBBER_ENV %>
alias current="cd <%= RUBBER_ROOT %>"

# Always use rubygems
export RUBYOPT="rubygems"
