<%
  @path = '/etc/monit/monit.d/monit-mysql_cluster_sql.conf'
%>

check process mysql_cluster_sql with pidfile /var/lib/mysql/<%= rubber_env.full_host %>.pid
   group mysql_cluster_sql-<%= RUBBER_ENV %>
   start program = "/usr/bin/env service mysql start"
   stop program = "/usr/bin/env service mysql stop"
   if failed host 127.0.0.1 port 3306 protocol mysql then alert
   if 5 restarts within 5 cycles then timeout
